# Database
    DB_HOST=
    DB_PORT=
    DB_USER=
    DB_PASSWORD=
    DB_NAME=
# Google login
    GOOGLE_CLIENT_ID=
    GOOGLE_CLIENT_SECRET=
    GOOGLE_REDIRECT_URL=
# Token Key
    JWT_SECRET_ACCESSTOKEN=
    JWT_SECRET_REFRESHTOKEN=
# Cloudinary
	CLOUD_NAME= 
	CLOUD_API_KEY= 
	CLOUD_API_SECRET= 
# RabbitMQ
    RABBITMQ_URL=